body {
	margin: 0;
	font-family: --apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Header Stuff */
.header {
	height: 60px;
	background: #575757;
	overflow: hidden;
	display: flex;
	width: 92%;
	justify-content: flex;
	color: #dadada;
	padding-right: 90px;
	margin: 0px 10px 20px 0px;
}

.headerItems {
	margin-left: 120px;
	display: flex;
	align-items: center;
}

.headerImage {
	height: 40px;
	width: 40px;
	margin-right: 10px;
	border-radius: 50%;
	transition: transform 14s ease-in;
}

.headerName {
	marginRight: 0;
}

.headerOccupation: {
	position: relative;
	bottom: 5vh;
}

.icon {
	margin-right: 24px;
	margin-top: 5px;
}


/* Card Stuff */
.card {
	background: #1E2545;
	padding-bottom: 5px;
	margin: auto 10px;
}

.card-title {
	color: white;
	padding: 20px;
	font-size: 32px;
	font-weight: 500;
	margin-left: 20px;
	margin-bottom: -20px;
}

.card-p {
	background: #3C4A8A;
	font-size: 22px;
	font-weight: 300p;
	color: white;
	border-right: 16px solid #0066FF;
	pading: 33px;
	margin: 15px;
}


/* Burger Menu Styles */
.bm-burger-button {
	position: fixed;
	width: 24px;
	height: 24px;
	left: 18px;
	top: 18px;
}

.bm-burger-bars {
	border-radius: 5px;
	background: #dadada;
}

.bm-burger-bars-hover {
	background: white;
}

.bm-cross-button {
	height: 24px;
	width: 24px;
}

.bm-cross {
	background: #bdc3c7;
}

.bm-menu-wrap {
	position: fixed;
	height: 75%;
}

.bm-menu {
	background: #575757;
	padding: 2.5em .5em 0;
	font-size: 1.15em;
	border-left: 12px solid #373737;
	overflow: hidden !important;
}

.bm-morph-shape {
	fill: #373a47;
}

.bm-item-list {
	color: #b8b7ad;
	width: 265px;
}

.bm-item {
	display: flex;
	text-decoration: none;
	background: #373737;
	color: white;
	padding: 5px;
	padding-left: 10px;
	margin: 4px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 3px;
	font-size: 22px;
}

.bm-overlay {
	background: rgba(0, 0, 0, .3);
}